<app-header2 title="Заказы"> </app-header2>
<ion-content [fullscreen]="true">

  <div class="page-wrapper">


    <!-- вкладка заказов-->
    <div *ngIf="current_tab=='orders'" class="section">

      <div class="round-buttons">

        <div class="button" (click)="order_tab_selected='myrequests'; loadMyRequests();">
          <img src="../../../assets/all_orders.png" *ngIf="order_tab_selected!=='myrequests'">
          <img src="../../../assets/all_orders_selected.png" *ngIf="order_tab_selected==='myrequests'">
          <div class="title">Мои заявки</div>
        </div>
        <div class="button" (click)="order_tab_selected='myorders'; loadMyOrders();">
          <img src="../../../assets/all_orders.png" *ngIf="order_tab_selected!=='myorders'">
          <img src="../../../assets/all_orders_selected.png" *ngIf="order_tab_selected==='myorders'">
          <div class="title">Заказы в работе</div>
        </div>

        <div class="button" (click)="order_tab_selected='needactions'; loadMyOrders();" *ngIf="badge_count>0">
          <div class="badge" *ngIf="badge_count>0">{{badge_count}}</div>
          <img src="../../../assets/all_orders.png" *ngIf="order_tab_selected!=='needactions'">
          <img src="../../../assets/all_orders_selected.png" *ngIf="order_tab_selected==='needactions'">
          <div class="title">Требуют действий</div>
        </div>
        <div class="button" (click)="order_tab_selected='closed'; loadClosedOrders();">
          <img src="../../../assets/old_orders.png" *ngIf="order_tab_selected!=='closed'">
          <img src="../../../assets/old_orders_selected.png" *ngIf="order_tab_selected==='closed'">
          <div class="title">Завершенные</div>
        </div>

      </div>
<!-- 
      <div class="buttons-slider">
        <swiper-container [spaceBetween]="15" [slidesPerView]="'auto'" [freeMode]="true">

          <swiper-slide>
            <div class="slider-button ion-activatable" (click)="order_tab_selected='myorders'; loadMyOrders();"
              [ngClass]="{'active': order_tab_selected==='myorders'}">Мои заказы<ion-ripple-effect
                type="bounded"></ion-ripple-effect></div>
          </swiper-slide>

          <swiper-slide>
            <div class="slider-button ion-activatable" style="width: 225px;"
              (click)="order_tab_selected='needactions'; loadMyOrders();"
              [ngClass]="{'active': order_tab_selected==='needactions'}">
              <div>Требуют действий <span class="badge" *ngIf="badge_count>0">{{badge_count}}</span></div>
              <ion-ripple-effect type="bounded"></ion-ripple-effect>
            </div>
          </swiper-slide>

          <swiper-slide>
            <div class="slider-button ion-activatable" (click)="order_tab_selected='closed'; loadClosedOrders();"
              [ngClass]="{'active': order_tab_selected==='closed'}">Завершенные<ion-ripple-effect
                type="bounded"></ion-ripple-effect></div>
          </swiper-slide>

        </swiper-container>
      </div> -->

      <!-- Заказы-->
      <div *ngIf="!my_requests_loaded && order_tab_selected==='myrequests'" class="my_orders">
        <div class="title">Мои заявки</div>
        <div *ngFor="let i of [1,2,3,4]"><ion-skeleton-text animated
            style="width: 100%; height: 180px;"></ion-skeleton-text></div>
      </div>

      <div *ngIf="my_requests_loaded && order_tab_selected==='myrequests'" class="my_orders">
        <div class="title">Мои заявки</div>
        <ion-refresher slot="fixed" (ionRefresh)="doRefreshMyRequests($event)">
          <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Потяните для обновления"
            refreshingSpinner="circles" refreshingText="Загрузка...">
          </ion-refresher-content>
        </ion-refresher>        
        <app-request-item [request]="request" *ngFor="let request of my_requests"></app-request-item>
      </div>


      <!-- требуют действия-->
      <div *ngIf="!wait_for_payment_orders_loaded && order_tab_selected==='needactions'" class="my_orders">
        <div class="title">Требуют действий</div>
        <div *ngFor="let i of [1,2,3,4]"><ion-skeleton-text animated
            style="width: 100%; height: 180px;"></ion-skeleton-text></div>
      </div>

      <div *ngIf="wait_for_payment_orders_loaded && order_tab_selected==='needactions'" class="my_orders">


<!--
        <div class="payment_block" *ngIf="all_payments_qty>0 || all_delivery_qty">
          <div class="title">Сейчас к оплате</div>
          <ion-list lines="none">
            <ion-radio-group (ionChange)="handleChange($event)">
              <ion-item *ngIf="all_payments_qty>0">
                <ion-radio justify="start" labelPlacement="end" value="payment" color="accent" mode="md" size="small">Заказов: <b>{{all_payments_qty}}</b>. Общая сумма <b>{{all_payments_summ_p}}</b></ion-radio>
              </ion-item>
              <ion-item  *ngIf="all_delivery_qty>0">
                <ion-radio justify="start" labelPlacement="end" value="delivery"  color="accent" mode="md"  size="small">Доставка заказов: <b>{{all_delivery_qty}}</b>. Общая сумма <b>{{all_delivery_summ_p}}</b></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <app-button [disabled]="selected_radio!='payment' && selected_radio!='delivery'" height="44" title="Перейти к оплате" (action)="gotoOnlinePayment()"></app-button>
        </div>
      -->

        <div class="title">Требуют действий</div>
        <ion-refresher slot="fixed" (ionRefresh)="doRefreshMyOrders($event)">
          <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Потяните для обновления"
            refreshingSpinner="circles" refreshingText="Загрузка...">
          </ion-refresher-content>
        </ion-refresher>


        <app-order-card [order]="order" *ngFor="let order of wait_for_payment_orders"></app-order-card>
      </div>

      <!-- Мои заказы-->
      <div *ngIf="!my_orders_loaded && order_tab_selected==='myorders'" class="my_orders">
        <div class="title">Текущие заказы</div>
        <div *ngFor="let i of [1,2,3,4]"><ion-skeleton-text animated
            style="width: 100%; height: 180px;"></ion-skeleton-text></div>
      </div>

      <div *ngIf="my_orders_loaded && order_tab_selected==='myorders'" class="my_orders">
        <div class="title">Текущие заказы</div>
        <ion-refresher slot="fixed" (ionRefresh)="doRefreshMyOrders($event)">
          <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Потяните для обновления"
            refreshingSpinner="circles" refreshingText="Загрузка...">
          </ion-refresher-content>
        </ion-refresher>

        <!-- <app-order-card [order]="order" *ngFor="let order of my_orders"></app-order-card> -->
        <!-- <app-collapsed-order  [order]="order" *ngFor="let order of my_orders"></app-collapsed-order> -->
        <app-order-card [order]="order" *ngFor="let order of my_orders"></app-order-card>
        <div class="minorder">

        </div>
      </div>

      <!-- Завершенные-->
      <div *ngIf="!closed_orders_loaded && order_tab_selected==='closed'" class="closed_orders">
        <div class="title">Завершенные заказы</div>
        <div *ngFor="let i of [1,2,3,4]"><ion-skeleton-text animated
            style="width: 100%; height: 180px;"></ion-skeleton-text></div>
      </div>

      <div *ngIf="closed_orders_loaded && order_tab_selected==='closed'" class="closed_orders">
        <div class="title">Завершенные заказы</div>
        <ion-refresher slot="fixed" (ionRefresh)="doRefreshClosed($event)">
          <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Потяните для обновления"
            refreshingSpinner="circles" refreshingText="Загрузка...">
          </ion-refresher-content>
        </ion-refresher>

        <app-order-card [order]="order" *ngFor="let order of closed_orders"></app-order-card>
      </div>

    </div>
  </div>
</ion-content>