div.text {
    padding-top: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #2D2D2D;
}

div.error-message {
    font-size: 10px;
    line-height: 12px;
    color: rgb(247, 0, 0);
    font-weight: 600;
    padding-left: 14px;
    padding-top: 3px;
}