div.card{
    background-color: #fff;
    border-radius: 16px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    div.line1 {
        display: flex;
        justify-content: space-between;
        gap:15px;
        div.logo {
            border-radius: 12px;
            aspect-ratio: 125 / 70;
            flex: 0 0 125px;
            overflow: hidden;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 70px;
        }
        div.info {
            display: flex;
            flex-direction: column;
            flex:1;
            gap: 10px;
        }

    }
    .bordered {
        border-bottom: 1px solid #DDDDDD;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    div.line2 {
        padding-top: 20px;
        display: flex;
        gap:8px;
        flex-direction: column;            
    }
    
    div.line3 {
        padding-top: 20px;
        display: flex;
        gap:8px;
        div.button {
            flex: 1;
        }
    }

    div.pos {
        display: flex;
        flex-grow: 2;
        align-items: flex-end;
        div.label {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: rgba(38, 38, 38, 0.4);
        }
        div.dotted {
            border-bottom: 1px dotted rgba(38, 38, 38, 0.4);;
            flex: 1;
        }
        div.value {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #262626;
            max-width: 150px;;
            overflow: hidden;
        }
        div.value2 {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #EF7004;
        }
        div.sum {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #262626;


        }
    }
    div.pos1 {
        justify-content: space-between;
    }


}

div.status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 100px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
    gap:10px;
}

div.order-images {
    aspect-ratio: 336 / 190;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    div.arrow {
        height: 30px;
        ion-button {
            height: 34px;
            width: 34px;
            --padding-bottom: 0px;
            --padding-top: 0px;
            --padding-start: 0px;
            --padding-end: 0px;        
            img {
                width: 32px;
                height: 32px;
                padding: 0px;
            }
        }
    }

    div.arrow.left-arrow img {transform: rotate(-90deg);;}
    div.arrow.right-arrow img {transform: rotate(90deg);;}

    div.slide {
        height: 100%;
        width: calc(100% - 38px - 38px);
        div.image {
            min-height: 200px;
            height: 100%;
            width: 100%;
            border-radius: 16px;
            background-size: cover;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;

            div.zoom-block {
                background: var(--ion-color-button-color);
                border-radius: 10px;
                width: 22px;
                height: 22px;
                margin-top: 5px;
                margin-right: 5px;
                padding: 1px;
            }
        }
    }
}

div.order-images.no-slider {
    div.slide {
        width: 100%;
    }
}


div.date {
    height: 31px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 100px;        
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #2D2D2D;
    padding: 3px 7px;
    div {
        display: flex;
    }

}

div.pay-line {
    display: flex;
    height: 42px;
    div.icon {
        border-radius: 50px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex:0 0 30px;
    }

    div.text {
        flex: 1;
        align-items: center;
        justify-content:flex-start;
        display: flex;
        padding-left: 15px;
    }
}