<app-header title="Аккаунт"></app-header>

<ion-content [fullscreen]="true">

  <div class="page-wrapper">

    <!-- <div class="tabs">
      <div class="tab" [ngClass]="{'active':current_tab=='account'}" (click)="current_tab='account'; delete_request=false;">Личный кабинет</div>
      <div class="tab" [ngClass]="{'active':current_tab=='orders'}" (click)="current_tab='orders'; delete_request=false;">Заказы <div class="badge" *ngIf="badge_count>0">{{badge_count}}</div></div>
    </div> -->

    <!-- вкладка заказов-->
    <div *ngIf="current_tab=='orders'" class="section">
      <div class="buttons-slider">
        <swiper-container [spaceBetween]="15" [slidesPerView]="'auto'" [freeMode]="true">

          <swiper-slide>
            <div class="slider-button ion-activatable" (click)="order_tab_selected='myorders'; loadMyOrders();"
              [ngClass]="{'active': order_tab_selected==='myorders'}">Мои заказы<ion-ripple-effect
                type="bounded"></ion-ripple-effect></div>
          </swiper-slide>

          <swiper-slide>
            <div class="slider-button ion-activatable" style="width: 225px;" (click)="order_tab_selected='needactions'; loadMyOrders();"
              [ngClass]="{'active': order_tab_selected==='needactions'}"><div>Требуют действий <span class="badge" *ngIf="badge_count>0">{{badge_count}}</span></div><ion-ripple-effect
                type="bounded"></ion-ripple-effect></div>
          </swiper-slide>

          <swiper-slide>
            <div class="slider-button ion-activatable" (click)="order_tab_selected='closed'; loadClosedOrders();"
              [ngClass]="{'active': order_tab_selected==='closed'}">Завершенные<ion-ripple-effect
                type="bounded"></ion-ripple-effect></div>
          </swiper-slide>

        </swiper-container>
      </div>

      <!-- требуют действия-->
      <div *ngIf="!wait_for_payment_orders_loaded && order_tab_selected==='needactions'" class="my_orders" >
        <div *ngFor="let i of [1,2,3,4]"><ion-skeleton-text animated style="width: 100%; height: 180px;"></ion-skeleton-text></div>
      </div>

      <div *ngIf="wait_for_payment_orders_loaded && order_tab_selected==='needactions'" class="my_orders" >

        <ion-refresher slot="fixed" (ionRefresh)="doRefreshMyOrders($event)">
          <ion-refresher-content
            pullingIcon="chevron-down-circle-outline"
            pullingText="Потяните для обновления"
            refreshingSpinner="circles"
            refreshingText="Загрузка...">
          </ion-refresher-content>
        </ion-refresher>

        <app-order-card [order]="order" *ngFor="let order of wait_for_payment_orders"></app-order-card>
      </div>

      <!-- Мои заказы-->
      <div *ngIf="!my_orders_loaded && order_tab_selected==='myorders'" class="my_orders" >
        <div *ngFor="let i of [1,2,3,4]"><ion-skeleton-text animated style="width: 100%; height: 180px;"></ion-skeleton-text></div>
      </div>

      <div *ngIf="my_orders_loaded && order_tab_selected==='myorders'" class="my_orders" >

        <ion-refresher slot="fixed" (ionRefresh)="doRefreshMyOrders($event)">
          <ion-refresher-content
            pullingIcon="chevron-down-circle-outline"
            pullingText="Потяните для обновления"
            refreshingSpinner="circles"
            refreshingText="Загрузка...">
          </ion-refresher-content>
        </ion-refresher>

        <!-- <app-order-card [order]="order" *ngFor="let order of my_orders"></app-order-card> -->
        <!-- <app-collapsed-order  [order]="order" *ngFor="let order of my_orders"></app-collapsed-order> -->
        <app-order-card [order]="order" *ngFor="let order of my_orders"></app-order-card>
        <div class="minorder">

        </div>
      </div>

      <!-- Завершенные-->
      <div *ngIf="!closed_orders_loaded && order_tab_selected==='closed'" class="closed_orders" >
        <div *ngFor="let i of [1,2,3,4]"><ion-skeleton-text animated style="width: 100%; height: 180px;"></ion-skeleton-text></div>
      </div>

      <div *ngIf="closed_orders_loaded && order_tab_selected==='closed'" class="closed_orders" >

        <ion-refresher slot="fixed" (ionRefresh)="doRefreshClosed($event)">
          <ion-refresher-content
            pullingIcon="chevron-down-circle-outline"
            pullingText="Потяните для обновления"
            refreshingSpinner="circles"
            refreshingText="Загрузка...">
          </ion-refresher-content>
        </ion-refresher>

        <app-order-card [order]="order" *ngFor="let order of closed_orders"></app-order-card>
      </div>

    </div>


    <!-- вкладка профиля-->
    <div *ngIf="current_tab=='account'" class="section">
      <div class="text">
        Вы можете изменить свои учётные данные, сменить пароль, а также выбрать подходящий ПВЗ для получения заказа
      </div>

      <div class="card error" *ngIf="is_loaded && profile.EMAIL==''">
        Пожалуйста, заполните профиль - укажите <strong>E-mail</strong> чтобы мы могли отправлять вам электронные чеки.
      </div>

      <div class="card" *ngIf="is_loaded">

        <div class="profile">

          <div class="line">
            <div class="title">Мои данные</div>
            <div>
              <app-button title="Изменить" height="30" (action)="openProfile()"></app-button>
            </div>
          </div>

          <div class="line">
            <div class="field">
              <div class="label">Имя, фамиилия</div>
              <div class="value">{{profile.LAST_NAME?profile.LAST_NAME+' ':''}}{{profile.NAME?profile.NAME+' ':''}}{{profile.SECOND_NAME?profile.SECOND_NAME+' ':''}}</div>
            </div>
            <div class="field" *ngIf="profile.PHONE!=''">
              <div class="label">Телефон</div>
              <div class="value">{{profile.PHONE}}</div>
            </div>
          </div>
          <div class="line">
            <div class="field" *ngIf="profile.EMAIL!=''">
              <div class="label">E-mail</div>
              <div class="value">{{profile.EMAIL}}</div>
            </div>
            <div class="field" *ngIf="profile.EMAIL==''">
              <div class="label">E-mail</div>
              <div class="value">не указано</div>
            </div>
            <div class="field" >
              <div class="label">Пароль</div>
              <div class="value">****************</div>
            </div>
          </div>
          <div class="line" style="border-bottom: 1px solid #E6E6E6;">
            <div class="field">
              <div class="label">Город, Регион, Адрес</div>
              <div class="value">{{profile.ADDRESS_VALUE!=''?profile.ADDRESS_VALUE:'-'}}</div>
            </div>
          </div>

          <div class="line">
            <div class="field" >
              <div class="label">Выбранный ПВЗ</div>
              <div class="value" *ngIf="profile.PVZ?.TITLE">{{profile.PVZ.TITLE}}</div>
              <div class="value" *ngIf="!profile.PVZ?.TITLE">Не выбрано</div>
            </div>
            <div class="field" >
              <app-button title="Изменить" height="30" (action)="openPvzList()"></app-button>
            </div>            
          </div>

          <div class="line">
            <div class="field" >
              <div class="value" *ngIf="profile.PVZ.DESCRIPTION.length>0">
                <p *ngFor="let d of profile.PVZ.DESCRIPTION">{{d}}</p>
              </div>
            </div>            
          </div>

          <div class="line">
            <div class="field" >
              <div class="label">

              </div>
            </div>
          
          </div>


        </div>
        <div class="line">
          <div class="field" >
            <div class="label2">
              <p>Вы можете удалить свой аккаунт. В этом случае будет удалена вся ваша персональная информация, связанная с аккаунтом.</p>
              <p>Для удаления своего аккаунта и всех персональных данных нажмите кнопку ниже:</p>
            </div>
          </div>
        
        </div>
        <div class="remove_account">
          <ion-button fill="clear" expand="block" shape="round" color="alert" *ngIf="!delete_request" (click)="delete_request=true">Удалить аккаунт <ion-icon slot="start" name="close-outline"></ion-icon></ion-button>
          <ion-button fill="clear" expand="block" shape="round" color="alert"  *ngIf="delete_request" (click)="deleteRequest()">Я подтверждаю удаление<ion-icon slot="start" name="close-outline"></ion-icon></ion-button>
        </div>

      </div>
    </div>

  </div>

</ion-content>
