<ion-tabs>
  <ion-tab-bar slot="bottom">


    <!-- главная-->
    <ion-tab-button tab="main">

      <div class="inactive">
        <img src="../../assets/tabs/main_inactive.png">

      </div>


      <div class="active">
        <img src="../../assets/tabs/main_active.png">
      </div>



    </ion-tab-button>

    <!-- сообщество-->
    <ion-tab-button tab="community">

      <div class="inactive">
        <img src="../../assets/tabs/news_inactive.png">
        

      </div>


      <div class="active">
        <img src="../../assets/tabs/news_active.png">
      </div>
    </ion-tab-button>

    <!-- заказы -->
    <ion-tab-button tab="orders">

      <div class="inactive">
        <img src="../../assets/tabs/orders_inactive.png">
      </div>

      <div class="active">
        <img src="../../assets/tabs/orders_active.png">
          
      </div>
      <div class="badge" *ngIf="badge_count>0">{{badge_count}}</div>
    </ion-tab-button>






    <!-- calc -->
    <ion-tab-button tab="calc">
    
      <div class="inactive">
        <img src="../../assets/tabs/calc_inactive.png">
      </div>
    
      <div class="active">
        <img src="../../assets/tabs/calc_active.png">
      </div>
    </ion-tab-button>

    <!-- account -->
    <ion-tab-button tab="account">
      <div class="inactive">
        <img src="../../assets/tabs/account_inactive.png">
      </div>
    
      <div class="active">
        <img src="../../assets/tabs/account_active.png">
      </div>

      
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>