swiper-slide {
    width: auto;
}

ion-content {
    div.page-wrapper {
        h3 {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.001em;
            color: #2D2D2D;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.001em;
            color: #2D2D2D;
        }

        div.reviews_list {
            display: flex;
            flex-direction: column;
            gap:15px;
        }
        div.news_list {
            display: flex;
            flex-direction: column;
            gap:15px;
            div.news_card {
                background: #FFFFFF;
                border-radius: 16px;
                aspect-ratio: 336 / 165;
                display: flex;

                div.image {
                    flex: 0 0 auto;
                    aspect-ratio: 139 / 153;
                    background-size: cover;
                    background-position: 50% 50%;
                    margin: 5px;
                    border-radius: 16px;
                    img {
                        border-radius: 16px;
                    }
                }

                div.info {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin: 10px;

                    div.line {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }

                    div.title {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: 0.001em;
                        color: #2D2D2D;
                    }
                    div.desc {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        letter-spacing: 0.001em;
                        color: rgba(45, 45, 45, 0.4);
                    }
                    div.bottom-line {
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;

                        div.price {
                            span {
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 14px;
                                letter-spacing: 0.001em;
                                color: rgba(45, 45, 45, 0.4);
                                display: block;
                            }
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 20px;
                            letter-spacing: 0.001em;
                            color: #2D2D2D;
                        }
                    }
                }
            }
        }
    }
}

ion-menu {
    ion-header {
        ion-toolbar {

            --background:#fff;

            ion-title {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.001em;
                color: rgba(45, 45, 45, 0.4);

                display: flex;
                justify-content: space-between;



            }
            ion-searchbar {

            }
        }
    }
    ion-content {
        --background: #fff;

        ion-list {
            background-color: transparent;
            ion-item {
                --background: tranparent !important;
                ion-label {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.001em;
                    color: #2D2D2D;
                }
                ion-checkbox {
                    --checkbox-background: #EFEFEF;
                }
            }
        }
    }
}