<app-header2 title="Магазины"> </app-header2>
<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Потяните для обновления"
      refreshingSpinner="circles"
      refreshingText="Загрузка...">
    </ion-refresher-content>
  </ion-refresher>  

  <div class="page-wrapper">
    
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let store of stores"><app-store-card [store]="store" ></app-store-card></ion-col>
      </ion-row>
    </ion-grid>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Загрузка...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  </div>
</ion-content>
