div.page-wrapper {

    ion-grid {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0px;
        padding-right: 0px;

        ion-row {

            ion-col {
                padding: 4px;
                app-store-card {
                    width: 98%;

                }
            }
        }
    }
}