<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Выберете мессенджер</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="block">
    <p>Выберете один из доступных мессенджеров для оформленения заказа в чате или заполните форму самостоятельно</p>
    <p>Переходите в наши телеграм-каналы, там мы ежедневно публикуем актуальные акции и распродажи.</p>
    <div class="icons">

      <div class="icon ion-activatable" (click)="openTg()">
        <svg xmlns="http://www.w3.org/2000/svg" width="98" height="48" fill="none" viewBox="0 0 98 48">
          <g clip-path="url(#a)">
            <rect width="97.333" height="48" x=".333" fill="url(#b)" rx="24" />
            <path fill="#fff"
              d="M58.531 12.859s2.498-.974 2.29 1.391c-.07.974-.694 4.383-1.18 8.07l-1.665 10.922s-.138 1.6-1.387 1.878c-1.25.278-3.122-.974-3.47-1.252-.277-.209-5.203-3.34-6.937-4.87-.486-.417-1.041-1.252.069-2.226l7.285-6.957c.833-.835 1.665-2.782-1.804-.417l-9.713 6.609s-1.11.695-3.192.07l-4.51-1.392s-1.664-1.043 1.18-2.087c6.938-3.27 15.472-6.609 23.034-9.74Z" />
          </g>
          <defs>
            <linearGradient id="b" x1=".333" x2="97.667" y1="24" y2="24" gradientUnits="userSpaceOnUse">
              <stop stop-color="#EE6F03" />
              <stop offset="1" stop-color="#FFB422" />
            </linearGradient>
            <clipPath id="a">
              <rect width="97.333" height="48" x=".333" fill="#fff" rx="24" />
            </clipPath>
          </defs>
        </svg>

        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </div>

      <div class="icon icon-max ion-activatable" (click)="openMax()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
          <defs>
            <linearGradient id="b">
              <stop offset="0" stop-color="#00f" />
              <stop offset="1" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="a">
              <stop offset="0" stop-color="#4cf" />
              <stop offset=".662" stop-color="#53e" />
              <stop offset="1" stop-color="#93d" />
            </linearGradient>
            <linearGradient id="c" x1="117.847" x2="1000" y1="760.536" y2="500" gradientUnits="userSpaceOnUse" href="#a" />
            <radialGradient
              id="d"
              cx="-87.392"
              cy="1166.116"
              r="500"
              fx="-87.392"
              fy="1166.116"
              gradientTransform="rotate(51.356 1551.478 559.3)scale(2.42703433 1)"
              gradientUnits="userSpaceOnUse"
              href="#b"
            />
          </defs>
          <rect width="1000" height="1000" fill="url(#c)" ry="249.681" />
          <rect width="1000" height="1000" fill="url(#d)" ry="249.681" />
          <path
            fill="#fff"
            fill-rule="evenodd"
            d="M508.211 878.328c-75.007 0-109.864-10.95-170.453-54.75-38.325 49.275-159.686 87.783-164.979 21.9 0-49.456-10.95-91.248-23.36-136.873-14.782-56.21-31.572-118.807-31.572-209.508 0-216.626 177.754-379.597 388.357-379.597 210.785 0 375.947 171.001 375.947 381.604.707 207.346-166.595 376.118-373.94 377.224m3.103-571.585c-102.564-5.292-182.499 65.7-200.201 177.024-14.6 92.162 11.315 204.398 33.397 210.238 10.585 2.555 37.23-18.98 53.837-35.587a189.8 189.8 0 0 0 92.71 33.032c106.273 5.112 197.08-75.794 204.215-181.95 4.154-106.382-77.67-196.486-183.958-202.574Z"
            clip-rule="evenodd"
          />
        </svg>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </div>

    </div>

    <div class="button">
      <app-button title="Заполнить форму" (click)="openMakeOrderFormModal()"></app-button>
    </div>
  </div>
</ion-content>