<ion-content color="black">
  <div class="close-bar">
    <ion-button (click)="close()" color="light" fill="clear" shape="circle"><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
  </div>

  <swiper-container     zoom-max-ratio="3" zoom-min-ratio="1" #swiper>
  
    <swiper-slide>
        <div class="swiper-zoom-container">
          <img [src]="img">
        </div>
    </swiper-slide>
  </swiper-container>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="black">
    <ion-grid>
      <ion-row>
        <ion-col size="4" class="ion-text-center">
          <ion-button (click)="zoom(false)" fill="clear" color="light">
            <ion-icon slot="icon-only" name="remove"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-button (click)="close()" fill="clear" color="light">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
  
        </ion-col>
  
        <ion-col size="4" class="ion-text-center">
          <ion-button (click)="zoom(true)" fill="clear" color="light">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
  
        </ion-col>
  
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>