ion-content {
    --background: #000;
}

ion-footer {
    margin-bottom: 10px;
}

swiper-container {
    height:100%;
}

div.close-bar {
    position: fixed;
    top:50px;
    right: 24px;
    z-index: 999;
}