/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";



/* fonts */

/* montserrat-100 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: local(''),
        url('./assets/fonts/montserrat-v24-latin_cyrillic-100.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/fonts/montserrat-v24-latin_cyrillic-100.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-200 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: local(''),
        url('./assets/fonts/montserrat-v24-latin_cyrillic-200.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/fonts/montserrat-v24-latin_cyrillic-200.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-300 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('./assets/fonts/montserrat-v24-latin_cyrillic-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/fonts/montserrat-v24-latin_cyrillic-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./assets/fonts/montserrat-v24-latin_cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/fonts/montserrat-v24-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('./assets/fonts/montserrat-v24-latin_cyrillic-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/fonts/montserrat-v24-latin_cyrillic-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('./assets/fonts/montserrat-v24-latin_cyrillic-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/fonts/montserrat-v24-latin_cyrillic-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('./assets/fonts/montserrat-v24-latin_cyrillic-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/fonts/montserrat-v24-latin_cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-800 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local(''),
        url('./assets/fonts/montserrat-v24-latin_cyrillic-800.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/fonts/montserrat-v24-latin_cyrillic-800.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-900 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('./assets/fonts/montserrat-v24-latin_cyrillic-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/fonts/montserrat-v24-latin_cyrillic-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    font-family: 'Montserrat', sans-serif;
    --ion-font-family: 'Montserrat', sans-serif;
}

ion-content {
    --background: #CEE6FE;
    --font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif;
}


:root {
    --ion-background-color: #DCF2FF;
    --ion-background-color-rgb: 220, 242, 255;

    --ion-text-color: #2D2D2D;
    --ion-text-color-rgb: 45, 45, 45;

    --ion-color-step-50: #d3e8f5;
    --ion-color-step-100: #cbdeea;
    --ion-color-step-150: #c2d4e0;
    --ion-color-step-200: #b9cbd5;
    --ion-color-step-250: #b0c1cb;
    --ion-color-step-300: #a8b7c0;
    --ion-color-step-350: #9fadb6;
    --ion-color-step-400: #96a3ab;
    --ion-color-step-450: #8d99a1;
    --ion-color-step-500: #859096;
    --ion-color-step-550: #7c868c;
    --ion-color-step-600: #737c81;
    --ion-color-step-650: #6a7277;
    --ion-color-step-700: #62686c;
    --ion-color-step-750: #595e62;
    --ion-color-step-800: #505457;
    --ion-color-step-850: #474b4d;
    --ion-color-step-900: #3f4142;
    --ion-color-step-950: #363738;
}

:root {
	--ion-color-accent: #FFB422;
	--ion-color-accent-rgb: 255,180,34;
	--ion-color-accent-contrast: #000000;
	--ion-color-accent-contrast-rgb: 0,0,0;
	--ion-color-accent-shade: #e09e1e;
	--ion-color-accent-tint: #ffbc38;
}

.ion-color-accent {
	--ion-color-base: var(--ion-color-accent);
	--ion-color-base-rgb: var(--ion-color-accent-rgb);
	--ion-color-contrast: var(--ion-color-accent-contrast);
	--ion-color-contrast-rgb: var(--ion-color-accent-contrast-rgb);
	--ion-color-shade: var(--ion-color-accent-shade);
	--ion-color-tint: var(--ion-color-accent-tint);
}

:root {
	--ion-color-black: #000;
	--ion-color-black-rgb: 0,0,0;
	--ion-color-black-contrast: #ffffff;
	--ion-color-black-contrast-rgb: 255,255,255;
	--ion-color-black-shade: #000000;
	--ion-color-black-tint: #1a1a1a;
}

.ion-color-black {
	--ion-color-base: var(--ion-color-black);
	--ion-color-base-rgb: var(--ion-color-black-rgb);
	--ion-color-contrast: var(--ion-color-black-contrast);
	--ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb);
	--ion-color-shade: var(--ion-color-black-shade);
	--ion-color-tint: var(--ion-color-black-tint);
}

:root {
	--ion-color-blue: #207cd9;
	--ion-color-blue-rgb: 32,124,217;
	--ion-color-blue-contrast: #000000;
	--ion-color-blue-contrast-rgb: 0,0,0;
	--ion-color-blue-shade: #1c6dbf;
	--ion-color-blue-tint: #3689dd;
}

.ion-color-blue {
	--ion-color-base: var(--ion-color-blue);
	--ion-color-base-rgb: var(--ion-color-blue-rgb);
	--ion-color-contrast: var(--ion-color-blue-contrast);
	--ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
	--ion-color-shade: var(--ion-color-blue-shade);
	--ion-color-tint: var(--ion-color-blue-tint);
}

:root {
	--ion-color-alert: #EB2A00;
	--ion-color-alert-rgb: 235,42,0;
	--ion-color-alert-contrast: #000000;
	--ion-color-alert-contrast-rgb: 0,0,0;
	--ion-color-alert-shade: #cf2500;
	--ion-color-alert-tint: #ed3f1a;
}

.ion-color-alert {
	--ion-color-base: var(--ion-color-alert);
	--ion-color-base-rgb: var(--ion-color-alert-rgb);
	--ion-color-contrast: var(--ion-color-alert-contrast);
	--ion-color-contrast-rgb: var(--ion-color-alert-contrast-rgb);
	--ion-color-shade: var(--ion-color-alert-shade);
	--ion-color-tint: var(--ion-color-alert-tint);
}

div.page-wrapper {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
}

div.slider-button {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 100px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.001em;
    color: #2D2D2D;
    width: 150px;

}


div.slider-button2 {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 100px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.001em;
    color: #2D2D2D;
    width: 250px;

}

div.slider-button.active {
    background: #F98112;
    color: #FFFFFF;
}
div.slider-button2.active {
    background: #F98112;
    color: #FFFFFF;
}


//Формы
div.calc_form {
    padding-top: 30px;
    padding-left: 12px;
    padding-right: 12px;

    div.input-field {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        gap:10px;
        div.label {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.001em;
            color: #2D2D2D;
        }
        div.input {
            padding: 10px 14px;
            height: 44px;
            background: #FFFFFF;
            border-radius: 8px;
            width: 100%;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.001em;
            color: #2D2D2D;
        }
    }

    div.total {
        margin-top: 30px;
        background: #A3DEFF;
        border-radius: 16px;
        height: 76px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        div.title {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.001em;
            color: #2D2D2D;
        }

        div.sum {
            font-weight: 600;
            font-size: 28px;
            line-height: 34px;
            letter-spacing: 0.001em;
            color: #2D2D2D;
        }
    }

}


//Формы
div.form {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    div.input-field {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        gap:10px;
        max-width: 300px;
        div.label {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.001em;
            color: #2D2D2D;
        }
        div.input {
            padding: 10px 14px;
            height: 44px;
            background: #FFFFFF;
            border-radius: 8px;
            width: 100%;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.001em;
            color: #2D2D2D;
            display: flex;
            justify-content: flex-start;
            align-items: center ;
            gap:15px;

            div.icon {
                position: relative;
                margin-top: 4px;
            }
        }

        div.input.error {
            border: 2px solid red;
        }

        ion-button {
            text-transform: none;
            --padding-start:5px;
            --padding-end:5px;
            font-size: 16px;
            position: relative;
            margin-left: -5px;            
        }        

        ion-checkbox {
            --checkbox-background: #EFEFEF;
        }

        ion-checkbox::part(label) {
            text-overflow:unset;
            white-space:unset;
            overflow:visible;
            font-size: 14px;
        }

        ion-checkbox.error::part(container) {
            border: 2px solid red;
        }

    }

}


div.usl {
    margin-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    border-radius: 16px;

    div.text {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.001em;
        color: #2D2D2D;
    }    
    div.text2 {
        padding-top: 5px;
        padding-bottom: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.001em;
        color: #2D2D2D;
    }

    div.accordion {
        ion-accordion-group {
            margin: 0px;
            ion-accordion {
                background-color: #fff;
                ion-item {

                }
                ion-label {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.001em;
                    color: #2D2D2D;
                }

                ion-icon {
                    --color:#2D2D2D;
                    color:#2D2D2D;
                }                    

            }
            ion-accordion:first-child {
                border-top: 0px;
            }
        }
    }

}

div.login_page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

div.login_page2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}

ion-modal.city_modal {
    ion-header {
        ion-toolbar {

            --background:#fff !important;

            ion-title {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.001em;
                color: rgba(45, 45, 45, 0.4);

                display: flex;
                justify-content: space-between;



            }
            ion-searchbar {

            }
        }
    }
    ion-content {
        --background: #fff !important;

        ion-list {
            background-color: transparent;
            ion-item {
                --background: tranparent !important;
                ion-label {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.001em;
                    color: #2D2D2D;
                }
                ion-checkbox {
                    --checkbox-background: #EFEFEF;
                }
            }
        }
    }
}